.list {
  margin: 0;
  padding: 5px;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  padding: 10px;
  border: 1px solid powderblue;
  border-radius: 5px;
}

.item {
  padding: 0;
  margin: 0;
}

.title {
  padding: 0;
  margin: 0;
}
